
<style>
  .application{
      font-family: Quicksand;  
      size:cover;
      margin:0;
      height: 100vh;
      width: calc(100vw - 10px);
      color: white;
      position: fixed;
      top:0;
        
    }
  

}
</style>
<div class="application">
       
{{yield}}
<style>
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 30px;
    background-image: linear-gradient( #3190a4, #47a8c0aa);
    color: white;
    z-index: 1000;
    color: white;
    text-align: center;
}
.footer a{
  color:white;
}
</style>
<div class="footer">
    <LinkTo @route="terms">Terms</LinkTo> | 
    <LinkTo @route="terms">Privacy</LinkTo> | 
    <LinkTo @route="terms">Security</LinkTo> | 
    <LinkTo @route="terms">About</LinkTo>
  </div>
</div>