{{page-title "Try Genuine Captcha © App"}}
<DashBar @route="live-app"/>
<div class="page">
<div class="page-content">
    <div class="card">
            <h3 class="card-title">
                Try Genuine Captcha © App
            </h3>
           <p class="card-content">
                <ShowCaptcha/>
            </p>
    
        </div>
</div>
</div>